In [161]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="darkgrid")
import requests

# 1-Gather

In [70]:

twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [71]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open('image-predictions.tsv',mode ='wb') as file :
    file.write(response.content)

In [72]:
image_predictions = pd.read_csv('image-predictions.tsv', sep = '\t')

In [73]:
tweets = pd.read_json('tweet-json',lines=True)

In [74]:
#with open ('twitter-api.py')as f:
   # data=f.readlines()
#for line in  data:
    #print(line)

# 2-Assess

## 1- twitter archive data

In [75]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [76]:
twitter_archive.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [77]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [78]:
twitter_archive.sample(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1410,699036661657767936,NaN,NaN,2016-02-15 01:05:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",HAPPY V-DAY FROM YOUR FAV PUPPER SQUAD 13/10 f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/699036661...,13,10,None,None,None,pupper,None
300,836753516572119041,NaN,NaN,2017-03-01 01:42:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Meera. She just heard about taxes and ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/836753516...,12,10,Meera,doggo,None,None,None
1259,710272297844797440,NaN,NaN,2016-03-17 01:11:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We 👏🏻 only 👏🏻 rate 👏🏻 dogs. Pls stop sending i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710272297...,11,10,infuriating,None,None,None,None
1016,746906459439529985,7.468859e+17,4.196984e+09,2016-06-26 03:22:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...","PUPDATE: can't see any. Even if I could, I cou...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/746906459...,0,10,None,None,None,None,None
2308,666817836334096384,NaN,NaN,2015-11-18 03:18:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeph. He is a German Boston Shuttlecoc...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666817836...,9,10,Jeph,None,None,None,None
841,766864461642756096,NaN,NaN,2016-08-20 05:08:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: We only rate dogs... this is a ...,7.599238e+17,4.196984e+09,2016-08-01 01:28:46 +0000,https://twitter.com/dog_rates/status/759923798...,10,10,None,None,None,None,None
2046,671520732782923777,NaN,NaN,2015-12-01 02:46:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Alejandro. He's an extremely seductive pu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671520732...,10,10,Alejandro,None,None,None,None
583,800188575492947969,NaN,NaN,2016-11-20 04:06:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo. He's a Benedoop Cum...,6.816941e+17,4.196984e+09,2015-12-29 04:31:49 +0000,https://twitter.com/dog_rates/status/681694085...,11,10,Bo,None,None,pupper,None
2062,671163268581498880,NaN,NaN,2015-11-30 03:06:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Pack of horned dogs here. Very team-oriented b...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671163268...,8,10,None,None,None,None,None
1709,680609293079592961,NaN,NaN,2015-12-26 04:41:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Brody. That is his chair. He loves his...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680609293...,9,10,Brody,None,None,None,None
417,822489057087389700,NaN,NaN,2017-01-20 17:00:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Paisley. She really wanted to be presi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/822489057...,13,10,Paisley,None,None,None,None
343,832040443403784192,NaN,NaN,2017-02-16 01:34:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Klein. These pics were ...,7.699404e+17,4.196984e+09,2016-08-28 16:51:16 +0000,https://twitter.com/dog_rates/status/769940425...,12,10,Klein,None,None,None,None
98,873213775632977920,NaN,NaN,2017-06-09 16:22:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sierra. She's one precious pupper. Abs...,NaN,NaN,NaN,https://www.gofundme.com/help-my-baby-sierra-g...,12,10,Sierra,None,None,pupper,None
1346,704480331685040129,NaN,NaN,2016-03-01 01:36:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Lucia. She's a Cumulonimbus Floofmallow. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704480331...,11,10,Lucia,None,None,None,None
1501,692142790915014657,6.920419e+17,4.196984e+09,2016-01-27 00:31:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",These are some pictures of Teddy that further ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692142790...,13,10,None,None,None,None,None
1025,746369468511756288,NaN,NaN,2016-06-24 15:48:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Iraqi Speed Kangaroo. It is not a d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/746369468...,9,10,an,None,None,None,None
449,819004803107983360,NaN,NaN,2017-01-11 02:15:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He was a very good First Doggo. 14...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/819004803...,14,10,Bo,doggo,None,None,None
1393,700029284593901568,NaN,NaN,2016-02-17 18:49:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Coops. His ship is taking on water. So...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/700029284...,10,10,Coops,None,None,None,None
298,837012587749474308,NaN,NaN,2017-03-01 18:52:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @KennyFromDaBlok: 14/10 h*ckin good hats. w...,8.370113e+17,7.266347e+08,2017-03-01 18:47:10 +0000,https://twitter.com/KennyFromDaBlok/status/837...,14,10,None,None,None,None,None
1510,691444869282295808,NaN,NaN,2016-01-25 02:17:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bailey. She likes flowers. 12/10 https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/691444869...,12,10,Bailey,None,None,None,None

In [79]:
sum(twitter_archive.duplicated())

0

In [80]:
twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [81]:
twitter_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [82]:
twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

## 2-image predictions data

In [83]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [84]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [85]:
image_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [86]:
image_predictions.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1131,728046963732717569,https://pbs.twimg.com/media/ChqK2cVWMAAE5Zj.jpg,1,Newfoundland,0.255971,True,groenendael,0.175583,True,German_shepherd,0.164135,True
632,680959110691590145,https://pbs.twimg.com/media/CXNAsm6WsAEST9R.jpg,2,carousel,0.500992,False,feather_boa,0.064390,False,pug,0.044357,True
603,679844490799091713,https://pbs.twimg.com/media/CW9K9VeVAAE0j-x.jpg,1,Airedale,0.903832,True,Border_terrier,0.034713,True,toy_poodle,0.021378,True
1038,712065007010385924,https://pbs.twimg.com/media/CeHDV73W0AM5Cf8.jpg,1,goose,0.214301,False,gibbon,0.084253,False,pizza,0.080168,False
1244,747461612269887489,https://pbs.twimg.com/media/Cl-EXHSWkAE2IN2.jpg,1,binoculars,0.192717,False,barbershop,0.085838,False,ballplayer,0.084672,False
1017,709918798883774466,https://pbs.twimg.com/media/CdojYQmW8AApv4h.jpg,2,Pembroke,0.956222,True,Cardigan,0.020727,True,Chihuahua,0.007912,True
923,702276748847800320,https://pbs.twimg.com/media/Cb78-nOWIAENNRc.jpg,1,Boston_bull,0.697303,True,French_bulldog,0.239015,True,American_Staffordshire_terrier,0.019838,True
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,0.115123,False,traffic_light,0.069534,False
161,668932921458302977,https://pbs.twimg.com/media/CUiG6_ZXAAAPaw_.jpg,1,standard_poodle,0.237638,True,Old_English_sheepdog,0.195573,True,toy_poodle,0.144658,True
957,705442520700944385,https://pbs.twimg.com/media/Cco8OmOXIAE0aCu.jpg,1,Great_Pyrenees,0.309106,True,kuvasz,0.224556,True,seat_belt,0.202100,False

In [87]:
sum(image_predictions.duplicated())

0

## 3-tweets data

In [88]:
tweets.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",39467,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,0.0,NaN,NaN,NaN,8853,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",33819,False,This is Tilly. She's just checking pup on you....,NaN,...,0.0,NaN,NaN,NaN,6514,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",25461,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,0.0,NaN,NaN,NaN,4328,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",42908,False,This is Darla. She commenced a snooze mid meal...,NaN,...,0.0,NaN,NaN,NaN,8964,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",41048,False,This is Franklin. He would like you to stop ca...,NaN,...,0.0,NaN,NaN,NaN,9774,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [89]:
tweets.tail()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user
2349,NaN,NaN,2015-11-16 00:24:50,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...",111,False,Here we have a 1949 1st generation vulpix. Enj...,NaN,...,0.0,NaN,NaN,NaN,41,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2350,NaN,NaN,2015-11-16 00:04:52,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...",311,False,This is a purebred Piers Morgan. Loves to Netf...,NaN,...,0.0,NaN,NaN,NaN,147,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2351,NaN,NaN,2015-11-15 23:21:54,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...",128,False,Here is a very happy pup. Big fan of well-main...,NaN,...,0.0,NaN,NaN,NaN,47,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2352,NaN,NaN,2015-11-15 23:05:30,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...",132,False,This is a western brown Mitsubishi terrier. Up...,NaN,...,0.0,NaN,NaN,NaN,48,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2353,NaN,NaN,2015-11-15 22:32:08,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...",2535,False,Here we have a Japanese Irish Setter. Lost eye...,NaN,...,0.0,NaN,NaN,NaN,532,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [90]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2354 non-null datetime64[ns]
display_text_range               2354 non-null object
entities                         2354 non-null object
extended_entities                2073 non-null object
favorite_count                   2354 non-null int64
favorited                        2354 non-null bool
full_text                        2354 non-null object
geo                              0 non-null float64
id                               2354 non-null int64
id_str                           2354 non-null int64
in_reply_to_screen_name          78 non-null object
in_reply_to_status_id            78 non-null float64
in_reply_to_status_id_str        78 non-null float64
in_reply_to_user_id              78 non-null float64
in_reply_to_user_id_str          78 non-null float64
is_quote_status                  2354 non-null bool
lang                             2354 non-null object
place                            1 non-null object
possibly_sensitive               2211 non-null float64
possibly_sensitive_appealable    2211 non-null float64
quoted_status                    28 non-null object
quoted_status_id                 29 non-null float64
quoted_status_id_str             29 non-null float64
retweet_count                    2354 non-null int64
retweeted                        2354 non-null bool
retweeted_status                 179 non-null object
source                           2354 non-null object
truncated                        2354 non-null bool
user                             2354 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(11)
memory usage: 505.8+ KB

In [91]:
tweets.sample(10)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user
1788,NaN,NaN,2015-12-17 16:45:31,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 677530062560841728, 'id_str'...",1161,False,Say hello to Axel. He's a Black Chevy Pinot on...,NaN,...,0.0,NaN,NaN,NaN,250,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1832,NaN,NaN,2015-12-13 19:30:01,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2335,False,Here we are witnessing a very excited dog. Cle...,NaN,...,0.0,NaN,NaN,NaN,1297,False,NaN,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1925,NaN,NaN,2015-12-08 02:23:09,"[0, 109]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674051551040770048, 'id_str'...",1564,False,This is Lucy. She knits. Specializes in tobogg...,NaN,...,0.0,NaN,NaN,NaN,530,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
653,NaN,NaN,2016-10-28 01:58:16,"[0, 114]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,RT @dog_rates: This little fella really hates ...,NaN,...,0.0,NaN,NaN,NaN,24514,False,{'created_at': 'Wed Jan 06 20:16:44 +0000 2016...,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
997,NaN,NaN,2016-06-29 18:25:21,"[0, 103]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,15549,False,Stop what you're doing and watch this heckin m...,NaN,...,0.0,NaN,NaN,NaN,8825,False,NaN,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
602,NaN,NaN,2016-11-15 20:47:30,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 667509363477577728, 'id_str'...",0,False,RT @dog_rates: This a Norwegian Pewterschmidt ...,NaN,...,0.0,NaN,NaN,NaN,2272,False,{'created_at': 'Fri Nov 20 01:06:48 +0000 2015...,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
572,NaN,NaN,2016-11-22 20:58:07,"[0, 56]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 801167887901724672, 'id_str'...",27386,False,This is Milo. I would do terrible things for M...,NaN,...,0.0,NaN,NaN,NaN,6961,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
521,NaN,NaN,2016-12-16 17:14:20,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 793962202520834048, 'id_str'...",0,False,RT @dog_rates: This is Maximus. His face is st...,NaN,...,0.0,NaN,NaN,NaN,5711,False,{'created_at': 'Wed Nov 02 23:45:19 +0000 2016...,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
898,NaN,NaN,2016-07-28 19:06:01,"[0, 115]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 758740300751708160, 'id_str'...",6339,False,Meet Boston. He's worried because his tongue w...,NaN,...,0.0,NaN,NaN,NaN,1824,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1561,NaN,NaN,2016-01-16 02:02:19,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 688179431681036292, 'id_str'...",2328,False,This is Lizzie. She's about to fist bump the l...,NaN,...,0.0,NaN,NaN,NaN,669,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [92]:
tweets.describe()

,contributors,coordinates,favorite_count,geo,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,possibly_sensitive,possibly_sensitive_appealable,quoted_status_id,quoted_status_id_str,retweet_count
count,0.0,0.0,2354.000000,0.0,2.354000e+03,2.354000e+03,7.800000e+01,7.800000e+01,7.800000e+01,7.800000e+01,2211.0,2211.0,2.900000e+01,2.900000e+01,2354.000000
mean,NaN,NaN,8080.968564,NaN,7.426978e+17,7.426978e+17,7.455079e+17,7.455079e+17,2.014171e+16,2.014171e+16,0.0,0.0,8.162686e+17,8.162686e+17,3164.797366
std,NaN,NaN,11814.771334,NaN,6.852812e+16,6.852812e+16,7.582492e+16,7.582492e+16,1.252797e+17,1.252797e+17,0.0,0.0,6.164161e+16,6.164161e+16,5284.770364
min,NaN,NaN,0.000000,NaN,6.660209e+17,6.660209e+17,6.658147e+17,6.658147e+17,1.185634e+07,1.185634e+07,0.0,0.0,6.721083e+17,6.721083e+17,0.000000
25%,NaN,NaN,1415.000000,NaN,6.783975e+17,6.783975e+17,6.757419e+17,6.757419e+17,3.086374e+08,3.086374e+08,0.0,0.0,7.888183e+17,7.888183e+17,624.500000
50%,NaN,NaN,3603.500000,NaN,7.194596e+17,7.194596e+17,7.038708e+17,7.038708e+17,4.196984e+09,4.196984e+09,0.0,0.0,8.340867e+17,8.340867e+17,1473.500000
75%,NaN,NaN,10122.250000,NaN,7.993058e+17,7.993058e+17,8.257804e+17,8.257804e+17,4.196984e+09,4.196984e+09,0.0,0.0,8.664587e+17,8.664587e+17,3652.000000
max,NaN,NaN,132810.000000,NaN,8.924206e+17,8.924206e+17,8.862664e+17,8.862664e+17,8.405479e+17,8.405479e+17,0.0,0.0,8.860534e+17,8.860534e+17,79515.000000

### quality

#### twitter archive data
- 181 retweetes and we want only tweets
- 78 reply to tweets and we need only tweets
- some unuseful columns in the table : in_reply_to_status_id ,retweeted_status_id,in_reply_to_user_id , retweeted_status_user_id ,retweeted_status_timestamp
- missing values in expanded_urls column
- None instead of NaN in (doggo,floofer,pupper,puppo) columns
- rating_denominator column values >10
- too large rating_numerator values
- data type of timestamp should be timestamp instead of str
- data type of tweet_id should be str instead of int
- rename (text,name) with descriptive names
- incorrect dog names (some names consist of only one or two letters and some others begin with lower case letters
- extract source from url

#### image predictions

- tweet_id data type should be str instead of int

##### tweets data
- delete unwanted columns(we need only id_str,retweet_count and favorite_count )
- rename id str with descriptive name
- id str datatype is int instead of str

### Tidiness
#### twitter archive data
- all values of rating_denominator column will be 10 so its not useful we need only rating_numerator for analysis 
- merge (doggo,floofer,pupper,puppo) columns in one column (dog_stage) and change the data type to categorical
- after concatenating dog stages (doggo,floofer,pupper,puppo) columns should be deleted

#### image prediction
- p1,p2,p3 are multiple coulmns that represent the same variable
- p1_conf,p2_conf,p3_conf are multiple coulmns that represent the same variable
- p1_dog, p2_dog,p3_dog are multiple coulmns that represent the same variable
- merge image prediction with twitter archive data

#### tweets data
- merge tweets data with twitter archive data

 # 3-Cleaning

In [93]:
twitter_archive_clean = twitter_archive.copy()
image_predictions_clean = image_predictions.copy()
tweets_clean = tweets.copy()

##### define
 * 181 retweets must be deleted
 * 78 reply must be deleted

##### code

In [94]:
twitter_archive_clean =twitter_archive_clean[ twitter_archive_clean.retweeted_status_id.isnull()]
twitter_archive_clean =twitter_archive_clean[ twitter_archive_clean.in_reply_to_status_id.isnull()]

##### test

In [95]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null object
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 294.9+ KB

##### define
drop unuseful columns in the table : in_reply_to_status_id ,retweeted_status_id,in_reply_to_user_id , retweeted_status_user_id ,retweeted_status_timestamp

##### code

In [96]:
twitter_archive_clean.drop(['in_reply_to_status_id','in_reply_to_user_id',
                            'retweeted_status_id','retweeted_status_user_id',
                            'retweeted_status_timestamp'], axis = 1,inplace = True)

##### test

In [97]:
d =list(twitter_archive_clean)
d

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

##### define
drop NaN values in expanded_urls column

##### code

In [98]:
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.expanded_urls.notnull()]

##### test

In [99]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2094 non-null int64
timestamp             2094 non-null object
source                2094 non-null object
text                  2094 non-null object
expanded_urls         2094 non-null object
rating_numerator      2094 non-null int64
rating_denominator    2094 non-null int64
name                  2094 non-null object
doggo                 2094 non-null object
floofer               2094 non-null object
pupper                2094 non-null object
puppo                 2094 non-null object
dtypes: int64(3), object(9)
memory usage: 212.7+ KB

##### define
replace None instead of NaN in (doggo,floofer,pupper,puppo) columns

##### code

In [100]:
twitter_archive_clean['doggo'].replace('None', np.nan, inplace=True)
twitter_archive_clean['floofer'].replace('None', np.nan, inplace=True)
twitter_archive_clean['pupper'].replace('None', np.nan, inplace=True)
twitter_archive_clean['puppo'].replace('None', np.nan, inplace=True)

##### test

In [101]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2094 non-null int64
timestamp             2094 non-null object
source                2094 non-null object
text                  2094 non-null object
expanded_urls         2094 non-null object
rating_numerator      2094 non-null int64
rating_denominator    2094 non-null int64
name                  2094 non-null object
doggo                 83 non-null object
floofer               10 non-null object
pupper                229 non-null object
puppo                 24 non-null object
dtypes: int64(3), object(9)
memory usage: 212.7+ KB

##### define
 some rating_denominator values >10 with
 too large rating_numerator so we will drop inaccurate values in both

##### code

In [102]:
twitter_archive_clean = twitter_archive_clean.query('rating_denominator == 10')
twitter_archive_clean = twitter_archive_clean.query('rating_numerator <= 15')

##### test

In [103]:
twitter_archive_clean.rating_denominator.value_counts()

10    2072
Name: rating_denominator, dtype: int64

In [104]:
twitter_archive_clean.rating_numerator.value_counts()

12    485
10    434
11    413
13    287
9     152
8      98
7      51
14     38
5      34
6      32
3      19
4      15
2       9
1       4
0       1
Name: rating_numerator, dtype: int64

##### define
- data type of timestamp should be timestamp instead of str
- data type of tweet_id should be str instead of int

##### code

In [105]:
twitter_archive_clean['timestamp']=pd.to_datetime(twitter_archive_clean['timestamp'])
twitter_archive_clean['tweet_id']=twitter_archive_clean ['tweet_id'].astype(str)

##### test

In [106]:
twitter_archive_clean.dtypes

tweet_id                      object
timestamp             datetime64[ns]
source                        object
text                          object
expanded_urls                 object
rating_numerator               int64
rating_denominator             int64
name                          object
doggo                         object
floofer                       object
pupper                        object
puppo                         object
dtype: object

##### define
rename (text,name,rating_numerator) with descriptive names

##### code

In [107]:
twitter_archive_clean.rename(columns = {'name':'dog_name',
                                        'text':'tweet_text',
                                        'rating_numerator':'ratings'}, inplace = True)

##### test

In [108]:
d = list(twitter_archive_clean)
d

['tweet_id',
 'timestamp',
 'source',
 'tweet_text',
 'expanded_urls',
 'ratings',
 'rating_denominator',
 'dog_name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

##### define
 replace incorrect dog names with None

##### code

In [109]:


twitter_archive_clean['dog_name']=twitter_archive_clean['dog_name'].replace( '^[a-z]+$',  'None', regex = True)

##### test

In [110]:
twitter_archive_clean['dog_name'].value_counts()

None         688
Lucy          11
Charlie       11
Oliver        10
Cooper        10
Tucker         9
Penny          9
Sadie          8
Winston        8
Lola           8
Daisy          7
Toby           7
Oscar          6
Bella          6
Stanley        6
Bo             6
Koda           6
Bailey         6
Jax            6
Scout          5
Leo            5
Louis          5
Rusty          5
Buddy          5
Chester        5
Bentley        5
Dave           5
Milo           5
Alfie          4
Winnie         4
            ...
Kloey          1
Buckley        1
Sam            1
Caryl          1
Flash          1
Lilli          1
Ginger         1
Rascal         1
Benny          1
Balto          1
Fabio          1
Petrick        1
Norman         1
Philbert       1
Jarod          1
Georgie        1
Nico           1
Einstein       1
Birf           1
Jay            1
Goose          1
Quinn          1
Ziva           1
Zeus           1
Hubertson      1
Kirk           1
Julio          1
Kuyu           1
Brutus         1
Canela         1
Name: dog_name, Length: 927, dtype: int64

##### define
extract source from url

##### code

In [111]:
twitter_archive_clean['source'] = twitter_archive_clean['source'].str.extract('^<a.+>(.+)</a>$')

##### test

In [112]:
twitter_archive_clean['source'].value_counts()

Twitter for iPhone     1941
Vine - Make a Scene      91
Twitter Web Client       30
TweetDeck                10
Name: source, dtype: int64

#####  define tidiness
all values of rating_denominator column will be 10 so it is not representing any useful  variable
  we need only rating_numerator for analysis

##### code

In [113]:
twitter_archive_clean.drop(['rating_denominator'], axis = 1,inplace = True)

##### test

In [114]:
l= list(twitter_archive_clean)
l

['tweet_id',
 'timestamp',
 'source',
 'tweet_text',
 'expanded_urls',
 'ratings',
 'dog_name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

##### define tidiness
-  concatenate (doggo,floofer,pupper,puppo) columns in one column (dog_stage) 
-  change the data type of dog_stage to categorical
-  after concatenating dog stages (doggo,floofer,pupper,puppo) columns should be deleted

In [115]:
#concatenate column values
twitter_archive_clean["dog_stage"] =twitter_archive_clean["doggo"].fillna("") \
                             +twitter_archive_clean ["floofer"].fillna("") \
                             +twitter_archive_clean ["pupper"].fillna("")  \
                             +twitter_archive_clean ["puppo"].fillna("")

#replace empty values with NaN
twitter_archive_clean["dog_stage"].replace("",np.nan,inplace=True)  

# adding comma between multiple values
twitter_archive_clean["dog_stage"].replace("doggopupper","doggo , pupper",inplace=True)
twitter_archive_clean["dog_stage"].replace("doggopuppo","doggo , puppo",inplace=True)
twitter_archive_clean["dog_stage"].replace("doggofloofer","doggo , floofer",inplace=True)

#convert to cateory datatype
twitter_archive_clean['dog_stage'] = twitter_archive_clean['dog_stage'].astype('category')

#drop unuseful coulmns
twitter_archive_clean.drop(['doggo','floofer','pupper','puppo'], axis = 1,inplace = True)

##### test

In [116]:
twitter_archive_clean.dog_stage.value_counts()

pupper             219
doggo               72
puppo               23
floofer              9
doggo , pupper       9
doggo , puppo        1
doggo , floofer      1
Name: dog_stage, dtype: int64

In [117]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072 entries, 0 to 2355
Data columns (total 8 columns):
tweet_id         2072 non-null object
timestamp        2072 non-null datetime64[ns]
source           2072 non-null object
tweet_text       2072 non-null object
expanded_urls    2072 non-null object
ratings          2072 non-null int64
dog_name         2072 non-null object
dog_stage        334 non-null category
dtypes: category(1), datetime64[ns](1), int64(1), object(5)
memory usage: 131.9+ KB

##### define
 change tweet_id data type from str to int

##### code

In [118]:
image_predictions_clean['tweet_id'] = image_predictions_clean['tweet_id'].astype('str')

##### test

In [119]:
image_predictions_clean.dtypes

tweet_id     object
jpg_url      object
img_num       int64
p1           object
p1_conf     float64
p1_dog         bool
p2           object
p2_conf     float64
p2_dog         bool
p3           object
p3_conf     float64
p3_dog         bool
dtype: object

##### define tidiness
- p1,p2,p3 are multiple coulmns that represent the same variable
- p1_conf,p2_conf,p3_conf are multiple coulmns that represent the same variable
- p1_dog, p2_dog,p3_dog are multiple coulmns that represent the same variable
  - so breed and confidence of dogs only should be selected

##### code

In [120]:
# list of conditions for selection
condition_list = [(image_predictions_clean['p1_dog'] == True),
                  (image_predictions_clean['p2_dog'] == True),
                  (image_predictions_clean['p3_dog'] == True)]

# list of choice order based on the selection conditions for predicted breed
choices_breed = [image_predictions_clean['p1'], 
                 image_predictions_clean['p2'],
                 image_predictions_clean['p3']]

# list of choice order for confidence level based on the selection conditions
choices_confidence = [image_predictions_clean['p1_conf'], 
                      image_predictions_clean['p2_conf'], 
                      image_predictions_clean['p3_conf']]

# select the predicted breed based on the first successful condition
image_predictions_clean['breed'] = np.select(condition_list, choices_breed, default = 'none')

# select the predicted confidence level based on the first successful condition
image_predictions_clean['confidence'] = np.select(condition_list, choices_confidence, default = 0)

#delete rows with breed none and confidence zero (not a dogs)
image_predictions_clean = image_predictions_clean.query('breed != "none"')

#set breed as categorical datatype
image_predictions_clean["breed"] = image_predictions_clean['breed'].astype('category')

In [121]:
#delete unuseful coulmns
image_predictions_clean.drop(['p1','p2','p3','p1_conf','p2_conf',
                              'p3_conf','p1_dog','p2_dog','p3_dog'], axis = 1,inplace = True)

##### test

In [122]:
image_predictions_clean.sample(10)

,tweet_id,jpg_url,img_num,breed,confidence
127,668268907921326080,https://pbs.twimg.com/media/CUYrBNQUkAA-zx4.jpg,1,Pembroke,0.484830
279,671109016219725825,https://pbs.twimg.com/media/CVBCFkyU4AE2Wcr.jpg,1,basenji,0.855959
1272,750011400160841729,https://pbs.twimg.com/media/CmfmvGUWgAAuVKD.jpg,1,Boston_bull,0.087150
1132,728387165835677696,https://pbs.twimg.com/media/ChvAQuMWMAAVaKD.jpg,1,collie,0.266414
1907,852553447878664193,https://pbs.twimg.com/media/C9Tg1bPW0AkAMDI.jpg,1,bloodhound,0.186498
927,702671118226825216,https://pbs.twimg.com/media/CcBjp2nWoAA8w-2.jpg,1,bloodhound,0.381227
1809,832757312314028032,https://pbs.twimg.com/media/C46MWnFVYAUg1RK.jpg,2,Cardigan,0.160888
947,704761120771465216,https://pbs.twimg.com/media/CcfQgHVWoAAxauy.jpg,1,Chihuahua,0.100418
1438,774314403806253056,https://pbs.twimg.com/media/Cr7q1VxWIAA5Nm7.jpg,3,Eskimo_dog,0.596045
683,683849932751646720,https://pbs.twimg.com/media/CX2F4qNUQAAR6Cm.jpg,1,Mexican_hairless,0.164906

In [123]:
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1751 entries, 0 to 2073
Data columns (total 5 columns):
tweet_id      1751 non-null object
jpg_url       1751 non-null object
img_num       1751 non-null int64
breed         1751 non-null category
confidence    1751 non-null float64
dtypes: category(1), float64(1), int64(1), object(2)
memory usage: 76.0+ KB

##### define
delete unwanted columns in tweets dataframe

##### code

In [124]:
tweets_clean =tweets_clean[['id_str','favorite_count','retweet_count']]

##### test

In [125]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
id_str            2354 non-null int64
favorite_count    2354 non-null int64
retweet_count     2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB

##### define
rename id str with descriptive name

##### code

In [126]:
tweets_clean.rename(columns ={'id_str':'tweet_id'} ,inplace=True)

##### test

In [127]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
tweet_id          2354 non-null int64
favorite_count    2354 non-null int64
retweet_count     2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB

##### define
change tweet id datatype to string

##### code

In [128]:
tweets_clean['tweet_id']= tweets_clean['tweet_id'].astype(str)

##### test

In [129]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
tweet_id          2354 non-null object
favorite_count    2354 non-null int64
retweet_count     2354 non-null int64
dtypes: int64(2), object(1)
memory usage: 55.2+ KB

##### define
merge tweet table with twitter archive data

##### code

In [130]:
twitter_archive_clean = pd.merge(twitter_archive_clean,tweets_clean ,
                         on = 'tweet_id', how = 'inner')

##### test

In [131]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1355 entries, 0 to 1354
Data columns (total 10 columns):
tweet_id          1355 non-null object
timestamp         1355 non-null datetime64[ns]
source            1355 non-null object
tweet_text        1355 non-null object
expanded_urls     1355 non-null object
ratings           1355 non-null int64
dog_name          1355 non-null object
dog_stage         224 non-null category
favorite_count    1355 non-null int64
retweet_count     1355 non-null int64
dtypes: category(1), datetime64[ns](1), int64(3), object(5)
memory usage: 107.5+ KB

In [132]:
twitter_archive_clean.head()

,tweet_id,timestamp,source,tweet_text,expanded_urls,ratings,dog_name,dog_stage,favorite_count,retweet_count
0,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,Archie,NaN,25461,4328
1,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,Darla,NaN,42908,8964
2,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,Franklin,NaN,41048,9774
3,891087950875897856,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,None,NaN,20562,3261
4,890729181411237888,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13,None,NaN,56848,16716

##### define
merge image prediction with twitter archive data

##### code

In [133]:
twitter_archive_clean = pd.merge(twitter_archive_clean,image_predictions_clean ,
                         on = 'tweet_id', how = 'inner')

##### test

In [134]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1075 entries, 0 to 1074
Data columns (total 14 columns):
tweet_id          1075 non-null object
timestamp         1075 non-null datetime64[ns]
source            1075 non-null object
tweet_text        1075 non-null object
expanded_urls     1075 non-null object
ratings           1075 non-null int64
dog_name          1075 non-null object
dog_stage         168 non-null category
favorite_count    1075 non-null int64
retweet_count     1075 non-null int64
jpg_url           1075 non-null object
img_num           1075 non-null int64
breed             1075 non-null category
confidence        1075 non-null float64
dtypes: category(2), datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 117.5+ KB

In [136]:
twitter_archive_clean.head(3)

,tweet_id,timestamp,source,tweet_text,expanded_urls,ratings,dog_name,dog_stage,favorite_count,retweet_count,jpg_url,img_num,breed,confidence
0,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,Archie,NaN,25461,4328,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012
1,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,Darla,NaN,42908,8964,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,Labrador_retriever,0.168086
2,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,Franklin,NaN,41048,9774,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712

##### define
replace nan values in dog_stage with none

##### code

In [138]:
twitter_archive_clean["dog_stage"].replace(np.nan,"None",inplace =True)

##### test

In [140]:
twitter_archive_clean.head(2)

,tweet_id,timestamp,source,tweet_text,expanded_urls,ratings,dog_name,dog_stage,favorite_count,retweet_count,jpg_url,img_num,breed,confidence
0,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,Archie,None,25461,4328,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012
1,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,Darla,None,42908,8964,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,Labrador_retriever,0.168086

In [141]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1075 entries, 0 to 1074
Data columns (total 14 columns):
tweet_id          1075 non-null object
timestamp         1075 non-null datetime64[ns]
source            1075 non-null object
tweet_text        1075 non-null object
expanded_urls     1075 non-null object
ratings           1075 non-null int64
dog_name          1075 non-null object
dog_stage         1075 non-null object
favorite_count    1075 non-null int64
retweet_count     1075 non-null int64
jpg_url           1075 non-null object
img_num           1075 non-null int64
breed             1075 non-null category
confidence        1075 non-null float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(4), object(7)
memory usage: 124.5+ KB

# 4-Store data
Store the clean DataFrame(s) in a CSV file with the main one named twitter_archive_master.csv

In [142]:
twitter_archive_clean.to_csv('twitter_archive_master.csv', index = False)

# 5-Analyze and  visualize data
the cleaned data out of wrangling process will be used in this section to answer some questions

In [2]:
rate_dogs =twitter_archive_clean.copy()

NameError: name 'twitter_archive_clean' is not defined

In [3]:
rate_dogs.info()

NameError: name 'rate_dogs' is not defined

### 1-What is the time of the first and the last tweet in the data ?

In [4]:
first = rate_dogs.timestamp.min()
last =  rate_dogs.timestamp.max()
print("time of first the tweet is : ",first)
print("time of last the tweet is  : ",last)

NameError: name 'rate_dogs' is not defined

### 2-What is the maximum , minimum and count of tweets ratings? 
### show  the ratings distribution.

In [5]:
min_rate = rate_dogs.ratings.min()
max_rate = rate_dogs.ratings.max()
count_rate = rate_dogs.ratings.count()

print("maximum rate is : ",max_rate)
print("minimum rate is : ",min_rate)
print("count of ratings is : ",count_rate)

NameError: name 'rate_dogs' is not defined

In [6]:
rate_dogs['ratings'].plot(kind = 'hist', bins = 15)

plt.xlim(0, 15)
plt.ylabel('Number of Tweets', fontsize = 16)
plt.xlabel('Rating', fontsize = 14)
plt.title('Distribution of Ratings', fontsize = 16)
plt.show();

NameError: name 'rate_dogs' is not defined

### 3- What is the  most comman dog name?

In [1]:
rate_dogs.dog_name.value_counts()

NameError: name 'rate_dogs' is not defined